/* Root Selector to make 1 variable for repeated colors */
:root {
    --background: #D0D0D0;
    --headerbg: #404040;
    --dark-blue: #11125A;
    --light-blue: #51B8C4;
    --violet: #251DC6;
}

html {
    background-color: var(--background);
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Header Section */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    color: var(--headerbg);
    background-color: var(--headerbg);
}

header h1 {
    display: inline-block;
    font-size: 45px;
    padding-left: 75px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 0px;
    background-color: var(--light-blue);
}

header nav {
    padding-top: 5px;
    margin-right: 75px;
    margin-top: 15px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px;
}

a {
    color: var(--light-blue);
    display: inline-block;
}

/* Main Section */

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#picHeader {
    height: 200px;
    width: 100%;
    margin-bottom: 75px;
    background-image: url("../images/violetheader.jpg");
    background-size: cover;
    background-position: center;
}

/* About Me section layout */
#sectionAboutMe {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 50%;
    height: 300px;
    padding-bottom: 150px;
}

/* Layout for About me Header and Paragaph */
h2 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--dark-blue);
    margin-right: 3rem;
}

#sectionAboutMe p {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--dark-blue);
    line-height: 20px;
    padding-left: 40px;
    border-left: 3px solid var(--violet);
}

/* Project 1 layout */
.foregroundTextP1 {
    font-size: 16px;
    color: var(--dark-blue);
    background-color: var(--light-blue);
    display: inline-block;
    position: relative;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-top: 3px solid var(--dark-blue);
    border-right: 3px solid var(--dark-blue);
    border-bottom: 3px solid var(--dark-blue);
    border-left: 3px solid var(--dark-blue);
}

.foregroundTextP1:hover {
    color: var(--light-blue);
    background-color: var(--dark-blue);
    border-color: var(--light-blue);
}

#project1 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 50%;
    height: 225px;
}

#picProj1 {
    height: 280px;
    width: 100%;
    padding-left: 20px;
    border-left: 3px solid var(--violet);
}

/* Project 2 layout */
.foregroundTextP2 {
    font-size: 16px;
    color: var(--dark-blue);
    background-color: var(--light-blue);
    display: inline-block;
    right: 12%;
    position: relative;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-top: 3px solid var(--dark-blue);
    border-right: 3px solid var(--dark-blue);
    border-bottom: 3px solid var(--dark-blue);
    border-left: 3px solid var(--dark-blue);
}

.foregroundTextP2:hover {
    color: var(--light-blue);
    background-color: var(--dark-blue);
    border-color: var(--light-blue);
}

#project2 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 50%;
    height: 225px;
}

#picProj2 {
    height: 160px;
    width: 75%;
    padding-top: 30px;
    padding-left: 20px;
    border-left: 3px solid var(--violet);
}

/* Project 3 layout */
.foregroundTextP3 {
    font-size: 16px;
    color: var(--dark-blue);
    background-color: var(--light-blue);
    display: inline-block;
    right: 12%;
    position: relative;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-top: 3px solid var(--dark-blue);
    border-right: 3px solid var(--dark-blue);
    border-bottom: 3px solid var(--dark-blue);
    border-left: 3px solid var(--dark-blue);
}

.foregroundTextP3:hover {
    color: var(--light-blue);
    background-color: var(--dark-blue);
    border-color: var(--light-blue);
}

#project3 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 50%;
    height: 225px;
}

#picProj3 {
    height: 160px;
    width: 75%;
    padding-top: 30px;
    padding-left: 20px;
    border-left: 3px solid var(--violet);
}

/* Contact Me section */

#contactMe {
    padding: 30px;
    clear: both;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    background-color: var(--headerbg);
  }

  footer h3 {
    color: var(--light-blue);
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #contactMe a {
    color: var(--light-blue);
    font-size: 20px;
    margin-bottom: 10px;
  }
  

  /* Media Queries for Responsiveness */

  @media only screen and (max-width: 425px) {
    header {
        text-align: center;
    }
  }

  @media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
  }

  @media only screen and (max-width: 768px) {
    #sectionAboutMe {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
  }

  @media only screen and (max-width: 768px) {
    #project1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
  }

  @media only screen and (max-width: 768px) {
    #project2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
  }

  @media only screen and (max-width: 768px) {
    #project3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
  }

  @media only screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
  }